.score {
  width: 60vmin;
  height: 1rem;
  font: medium;
  color: white;
  background-color: darkolivegreen;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.container {
  height: 60vmin;
  width: 60vmin;
  margin: auto;
  background-color: black;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}
.container:focus {
  outline: none;
}

.snake {
  height: 1fr;
  width: 1fr;
  background-color: green;
  z-index: 2;
}
.food {
  height: 1fr;
  width: 1fr;
  background-color: red;
}
