.scroll-container {
  border: 1px solid black;
  overflow: scroll;
  height: 80vh;
  width: 80%;
  margin: auto;

  border-radius: 5px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  background: cornsilk;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  width: 90%;
  margin: 5px auto;
  height: 150px;
  border: 1px solid green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
